<div class="box">
    <h1>Recipes</h1>
    <h2><%= link_to "New Recipe", new_recipe_path %></h2>
</div>
<ul>
    <% @recipes.each do |recipe| %>
        <li>
            <%= link_to recipe.name, recipe %>
            <% unless recipe.in_stock %>
                <strong>Missing Ingredients</strong>
            <% end %>
            <%= link_to "Edit", edit_recipe_path(recipe) %>
        </li>
    <% end %>
</ul>
