<h1>Pantry</h1>
<turbo-frame id="ingredients">
    <table style="width: 100%;">
        <!-- Table Header Row -->
        <tr>
            <th>Ingredient</th>
            <th>In Stock</th>
        </tr>
        <!-- Table body, one row per ingredient -->
        <% @ingredients.each do |ingredient| %>
            <tr id="ingredient_<%= ingredient.id %>">
                <td><%= ingredient.name %></td>
                <td>
                    <% if ingredient.in_stock %>
                        <span style="color: green">Yes</span>
                    <% else %>
                        <span style="color: red">No</span>
                    <% end %>
                </td>
                    
            </tr>
        <% end %>
    </table>
</turbo-frame>
